body {
    background-color: #111216;
    margin: 0;
}

#mainrow {
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: 8px;
}

a {
    color: white;
}

input {
    font-family: monospace;
    font-size: 8px;
    background-color: #111216;
    color: white;
    border-style: hidden;
    /* to remove the on-select border as well*/
    outline: none;
}

th {
    font-family: monospace;
    font-size: 8px;
    background-color: #111216;
    color: white;
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#header {
    max-width: 1200px;
}

div {
    border: 1px dashed white;
}

.row {
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-direction: row;
    flex-wrap:nowrap;
    padding: 10px;
}
.column {
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    align-items: center;
}
.textelem {
    width: 100%;
}
#graphcol {
    flex-basis: 70%;
}
#textcol {
    flex-basis: 30%;
}
#layout {
    flex-basis: 50%;
}
#smith {
    flex-basis: 50%;
}
#layoutsmithrow {
    width:100%;
}
#plot {
    width:100%;
    height:100%;
}

.configin {
    text-align: right;
}

.configunit {
    padding: 0;
    font-weight: bold;
    align-items: start;
}

.configtable {
    border-collapse: collapse;
    border-spacing: 0;
}