input {
  font-family: monospace;
  font-size: 8px;
  background-color: black;
  color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #1a1a1e;
  /* to remove the on-select border as well*/
  outline: none;
  width: 100%;
}
body {
  background-color: black;
  font-family: monospace;
  font-size: 8px;
  background-color: black;
  color: white;
  margin: 0;
  height: 100vh;
}

table {
  width: 100%;
  margin: 5px 5px 5px 0px;
}

.flex-container {
  display: flex;
}

.second-to-shrink {
  flex-shrink: 1;
  flex-grow: 0;
  min-height: min-content;
  /* background: cornflowerblue; */
}

a {
  color: white;
}

div {
  border: 1px dashed white;
  box-sizing: border-box;
}

.row {
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.column {
  align-items: center;
  flex-flow: column;
  justify-content: center;
  padding: 0vh 0vw;
  align-items: center;
  height: 100%;
}
.textelem {
  width: 100%;
}
#root {
  border: 0px;
  height: 100%;
}

#mainrow {
  justify-content: center;
  font-family: monospace;
  font-size: 8px;
  height: 100%;
}
#graphcol {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 80vw;
}
#textcol {
  flex-basis: 20vw;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: start;
}
.invalid {
  border-color: red;
}
.active {
  border-color: #3e3e48;
}
.selected {
  border-color: #7b6800;
}
p {
  white-space: pre-wrap;
  text-align: center;
  width: 100%;
  margin: 5px;
}

.topmargin {
  margin-top: 3px;
}
